*[class^='IDX'] {
    hyphens:none;
    -webkit-hyphens:none;

    font-size:9pt;
    line-height:11pt;

    text-align:left;
    }

.IDX {
    margin:0 0 0 20pt;
    text-indent:-20pt;
    }

.IDXSUB, .IndexSub {
    margin:0 0 0 20pt;
    text-indent:-10pt;
    }

.IDXSUBSUB, .IndexSubSub {
    margin:0 0 0 30pt;
    text-indent:-10pt;
    }